@font-face{font-family:kaznetregular;font-size:normal;font-weight:normal;src:url('kaznet-webfont.eot')}
@font-face{font-family:KazNet;font-size:normal;font-weight:normal;src:local('KazNet'),url('kaznet.ttf') format("TrueType")}
html,body,div,p,a,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,button,select,table,td,tr,th,span,label{
font-weight:normal;
font-family:'kaznetregular';
font-family:'KazNet' !important;
}
h1,h2,h3,h4,h5,h6{font-size: 15px;}
html,body,p{direction:rtl;}
.kk_widget { text-align:center; }
.kk_widget ul li { display:inline-block;}
.kk_widget strong{ border-bottom:2px solid #6ba82f; }