@font-face {
    font-family: 'KazNet';
    src: url('KazNet.eot');
    src: url('KazNet.eot#iefix') format('embedded-opentype'),
         url('KazNet.woff2') format('woff2'),
         url('KazNet.woff') format('woff'),
         url('KazNet.ttf') format('truetype'),
         url('KazNet.svg#KazNet') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,body,div,p,a,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,button,select,table,td,tr,th,span,label{
font-family:'KazNet';
font-family:'KazNet' !important;
}
html,body,p{}
